.footer{
    position: fixed;
    bottom: 0;

    height: auto;
    display: flex;
    justify-content: flex-end;
}

.footer > span{
    font-size: 1rem;
    font-weight: 300;
}

.footer .linkCoder{
    text-decoration: none;
    color: black;
}

.footer .linkCoder :hover{   
    font-size: 30px;
}